@charset "UTF-8";

/* 공통 */
html { font-size: 62.5%; font-weight: 300; letter-spacing: -0.25px; }
@media (max-width: 720px) { html { font-size: 57.81%; } }
@media (max-width: 640px) { html { font-size: calc(62.5% / 1.3); } }
/* @media (max-width: 540px) { html { font-size: calc(62.5% / 1.7); } } */
/* @media (max-width: 375px) { html { font-size: calc(62.5% / 1.7); } } */

.container.sub_content.timelinePage {max-width: none !important;}

.timelinePage .search-bar{flex-wrap: wrap;}
.timelinePage select{font-size: 1.6rem;}
.w-145 select{width:145px;}
.w-215 select{width:215px;}


.timelinePage{margin-bottom: -100px;}
.timeline__inner{height:calc(100vh - 210px);}

.category__inner{margin: 20px -2px 0 -2px;}
.category__inner >div {flex:1;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height:65px; margin: 0 2px; font-size:20px; font-weight:bold; }
.category__inner >div.ovr{background:#fdd7d4;}
.category__inner >div.dom{background:#c4e2fd;}


.timeline-list{ position:relative; margin-top:-10px; margin-bottom: 100px; padding-bottom: 30px; }
.timeline-list::before{position:absolute; top:0; left:50%;  width: 1px; height: 100%; background: #cccccc; content:""; z-index: 0;}
.timeline-list::after{position:absolute; top:auto; left:calc(50% - 0.55rem); bottom:0;  width: 1.1rem; height: 1.1rem; background: #cccccc; content:""; z-index: 0; border-radius: 100%;}
.timeline-box .year{position:relative; z-index: 1; margin-top: 6rem; margin-bottom: 6rem; padding-bottom: 2rem;  text-align: center; background: #ffffff;line-height: 100%; font-size:5.5rem; }
.timeline-box .year>*{  font-weight: bold; background:#ffffff;}
.timeline-box .year.fix p{position:fixed;top:0; left:44.7%;}

.timeline-content__wrap{margin:-30px 0;}
.timeline-content{display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex;
  padding: 30px 0;}
.timeline-content>div{ position: relative; width: calc(50%); padding-right:10.25rem; font-size:16px; color:#000000;}
.timeline-content>div::before{position: absolute; top: 50%; transform: translateY(-50%); width:102px; height:1px; border: 1px dashed #000000; content: "";}
.timeline-content>div::after{position: absolute; top: 50%; transform: translateY(-50%); width:5px; height:5px; border-radius: 100%; content: ""; z-index: 1;}
.timeline-content>div.dom{margin-left: auto; padding-left: 10.25rem; padding-right:0;}
.timeline-content>div.ovr::before{right:0; border-color: #eb8078;}
.timeline-content>div.dom::before{left: 0; border-color: #c4e2fd;}
.timeline-content>div.ovr::after{right:10.05rem; left:auto; background: #eb8078;}
.timeline-content>div.dom::after{left: 10.05rem; background: #c4e2fd;}

.timeline-content>div .date{ display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position:absolute; top: 50%; transform: translateY(-50%); width:6.2rem; height:6.2rem; border-radius: 100%; font-size:1.6rem; color:#ffffff;}
.timeline-content>div.ovr .date{ right:-31px; background:#eb8078; }
.timeline-content>div.dom .date{ left:-31px; background:#76a9d7;}

.timeline-content>div .cateTit{display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; min-width: 17.2rem; width:auto; height:3.7rem; padding:0 2.5rem; flex:none; margin-bottom: 0; font-size: 1.6rem; border-radius: 1rem 1rem 0 0; color:#ffffff; }
.timeline-content>div.ovr .cateTit{background: #f58e87; }
.timeline-content>div.dom .cateTit{background: #87b6e0; }

.timeline-content>div .tit{ margin-bottom: 1rem;}
.timeline-content>div .tit a{ font-size:2rem; font-weight:600; }

.timeline-content>div .timeline-item{ position:relative; padding:20px; background: #ffffff; }
.timeline-content>div.ovr .timeline-item{border:1px solid #eb8078; background: #fff8f7;}
.timeline-content>div.dom .timeline-item{border:1px solid #76a9d7; margin-left: auto; background: #f7fbfe;}
.timeline-content .timeline-item__inner>div{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; flex:1; }
.timeline-content .timeline-item__inner .thumb-img{-ms-flex-item-align: start;align-self: flex-start;}
.timeline-item .thumb-img{ max-width: 14.8rem; margin-right:2rem; border:1px solid #ededed}
.timeline-item .thumb-img img{width:100%;}

/* table */
.timeline-item table{width:100%;}
.boardList .tb-data table th{font-size: 1.6rem;}
.timeline-item table th{ font-size:14px; color:#333333; background:#f6f8fb; border:1px solid #e4e4e4;}
.timeline-item table td{ padding:7px 0; font-size:14px; color:#333333; border:1px solid #e4e4e4; background: #ffffff;}
.content-right .board-bottom{margin-bottom: 0;}

/* button */
.timeline-item .button-wrap{ display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap;flex-wrap:wrap; margin:-2px -5px; margin-top: auto; -webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.timeline-item .button-wrap button{width:70px; height:20px; margin: 2px; font-size:10px; color:#888888; background:#ffffff; border:1px solid #e2e2e2; border-radius: 3px;}
.timeline-content>div.ovr .timeline-item .button-wrap button span{color: #cd6b64;}
.timeline-content>div.dom .timeline-item .button-wrap button span{color: #4178a9;}
.search button.button-excel{background: #ffffff;}

/* 데이터 없을 경우 */
.nodata::before{display: none;}
.nodata>div{ display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width:100%; height:100%; font-size: 1.8rem;}
.nodata >div p{margin-top: 2rem; font-weight: 600;}
.nodata .ovr{float: left}
.nodata .dom{float: right;}
.nodata .ovr .keyword{color:#006db2}
.nodata .dom .keyword{color:#00a0a2}



/*  */
.cont-core{ height:100%;}
.cont-core>div{display: flex; flex-direction: column; height:100%;}
.cont-core .cont{margin-bottom: 2rem; }
.cont-core .cont .view-cont{padding:1.5rem; background: #ffffff; border:1px solid #ededed; font-size:1px; color:#333333; line-height: 1.8rem; font-size: 12px;}
.cont-core .cont .view-cont p{ margin-bottom: 1rem; font-size:14px; font-weight: 500;}
.cont-core .cont .view-cont>div+div{margin-top: 1.5rem;}

.timeline-button__bottom{-ms-display: flexbox;display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex; position:sticky; bottom:0;}
.timeline-button__bottom::before{position:absolute; left: 0; bottom: 0; width:100%; height:245px; background: url(../images/sub/bg-gradient.png); content:""; z-index: 0;}
.timeline-button__bottom button{position:relative; width:3.4rem; height:2.1rem; margin:0rem auto; padding:2rem; background: url(../images/sub/icon-arrow__bottom.png) no-repeat center; box-sizing: unset;}

.content-left .search>div{margin: 0 -.5rem;}
.content-left .search>div>div{margin: 0 .5rem;}

.content_wrap{max-width:120rem; margin: 0 auto; transition:all .5s linear}

/*  */

/* button 클릭 후 */
.content_wrap.step2 .content-timeline{display:flex;display: -moz-box;display: -ms-flexbox;display:-webkit-flex;display:flex; height: calc(100vh - 50px);}
.timelinePage .form-select select{ margin-right:0; background: #ffffff url(/resources/images/common/icon-arrow_bottom.png)no-repeat 90% center;}

/* step2 left */
/* .content-left{transition: all 1s linear;} */
.content-left.step2{position:relative; flex:none; width: 39.24% ; padding-top: 2rem; background: #f8f8f8;}
.content-left.step2::before{ position:absolute; top:0; left: -100%; width:100%; height:100%; background: #f8f8f8; content:""}
.content-left.step2 .timeline-box .year>*{background: #f8f8f8;}
.step2 .totalCount{margin-bottom:1.5rem !important;}
.step2 .search-bar{-ms-flex-wrap: wrap;flex-wrap: wrap;}
.step2 .search{padding-right:4rem;}

.step2 .search>div{margin: 0 ;}
.step2 .search>div>div{margin: 0;}
/* .step2 .search>div{width:100%;} */
/* .step2 .search>div>div{flex:none;} */
.step2 .search .w-215 select{width: 16.2rem;}
.step2 .search .w-145 select{width: 10.5rem;}
/* .step2 .search select{width:100%} */
.step2 .search>div{justify-content: space-between; width:100%; margin-left: 0 !important;}
.step2 #timeline{height:calc(100% - 15.4rem);}
.step2 .timeline__inner{ height:100%;  padding-right:4rem;}
.step2 .timeline__inner .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{margin-right: 0;}
.step2 .category__inner{ padding-right: 4rem;}
.step2 .category__inner>div{height: 5rem; font-size:1.8rem; cursor: pointer; background: #dddddd;}
.step2 .category__inner >div.ovr.active{background: #fdd7d4;}
.step2 .category__inner >div.dom.active{background: #c4e2fd;}

.step2 .timeline-list::before{left: 4rem;}
.step2 .timeline-list::after{left:3.5rem;}
.step2 .timeline-list{margin-top: 0;}
.step2 .timeline-box .year{margin: 4rem 0; padding-bottom:2rem; background: #f8f8f8; text-align: left; }
.step2 .timeline-content>div{flex:1;}
.step2 .timeline-content>div .timeline-item{margin-left: auto;}
.step2 .timeline-content>div .date{left: 1rem; right: auto}
.step2 .timeline-content>div::before{ left: 7.2rem; width:3rem; }
.step2 .timeline-content>div.ovr{left: 0; right:auto; padding-right:0; padding-left: 10.25rem; }
.timeline-content>div.ovr.on .timeline-item{border:1px solid #eb8078; background:#fff8f7 ;}
.step2 .timeline-content>div.ovr.on .cateTit{background: #f58e87;}
.timeline-content>div.dom.on .timeline-item{border:1px solid #76a9d7; background:#f7fbfe ;}
.step2 .timeline-content>div.dom.on .cateTit{background: #87b6e0;}
.timeline-content>div::after{right:auto; left: 10rem;}

.step2 .timeline-button__bottom button{margin: 0; padding:2rem 2.5rem}
.step2 .timeline-button__bottom::before{height: 9.8rem; background: url(../images/sub/bg-gradientStep02.png);}

.step2 .timeline-content>div .timeline-item{border-color: #bbbbbb; background: #fbfbfb;}
.step2 .timeline-content>div .cateTit{background: #bbbbbb;}
.step2 .timeline-content>div.ovr .timeline-item.on{border-color: #eb8078;}
.step2 .timeline-content>div.dom .timeline-item.on{border-color: #76a9d7;}

.step2 .timeline-content>div.ovr::after{left:10.05rem;}

.step2 .timeline-button__bottom{position:absolute; width:100%;}
.step2 .timeline-button__bottom button{background-size: 2.6rem 1.6rem; }


.content-left{transition: all .5s linear; }
.content-right{width: 0; height: 0; visibility: hidden;  }

/* step2 right */
.content-left.step2 .timeline-item .button-wrap{display: none;}
.btnRightSwitch{display: none;}
.content_wrap.step2 .btnRightSwitch{display: block; position:absolute; top: 50%; right:-1.6rem; transform: translateY(-50%);   z-index: 999; }
.content_wrap.step2 .btnRightSwitch button{ width:3.3rem; height:3.3rem; border-radius: 100%; background: #ffffff url(../images/sub/icon-arrow__right.png)no-repeat center; background-size: 1rem 1.7rem; box-shadow: .3rem .3rem 1.5rem rgba(0,0,0,0.2);}
.content_wrap.step2 .content-right{ display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; flex:1; height: calc(100vh + 60px); margin-left:4rem; padding:2rem 0; visibility: visible; transition:width .3s;}
.content_wrap.step2 .content-right .cateTit{ display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; min-width: 140px; width:140px; height:35px; flex:none; margin-bottom: 0; font-size: 14px; }
.content_wrap.step2 .content-right .cateTit.dom{color: #ffffff; background: #87b6e0;}
.content_wrap.step2 .content-right .cateTit.ovr{font-size:14px; color:#ffffff; background: #f58e87;}



/* tabs */
.tabs{height:100%;}
/* .tab-button-outer { display: none; } */
#tab-button a, #tab-select option{font-size:1.8rem; color:#888888;}
#tab-button {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#tab-button li{ display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; flex:1;  border: 1px solid #e4e4e4; height:6.5rem; cursor: pointer;}
#tab-button li+li{margin-left:-1px;}
#tab-button li.active{ position:relative}
#tab-button li.active::before{ position:absolute; top:0; left:0; width:100%; height:100%; box-shadow: 1px 1px 5px rgba(0,0,0,0.35); border: 2px solid #0d47a1; content:""}
#tab-button li a{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width:100%; height:100%;}
#tab-button li.active a{color:#0d47a1; font-weight: 600;}
.tab-contents{ height:calc(100vh - 25rem); padding-top: 3rem; }

/* 개요 */
.tit-wrap{margin-top:2rem; margin-bottom:2.5rem;}
.tit-wrap .tit{font-size:2.2rem}
.tit-wrap .date{margin-left: 1rem; font-size:1.6rem; color:#555555}

.content-right .board-view-wrap{border-bottom:1px solid #e4e4e4;}
.content-right .board-view-header{padding:2rem 0; border-top: 1px solid #000000; }
.content-right .board-view-header h5{font-size: 2rem; text-align: left; }
.content-right .board-view-header .info{margin-top: 2rem;}
.content-right .board-view-header .info ul{margin: 0 -1rem;}
.content-right .board-view-header .info li{ position:relative; padding:0 1rem; font-size:1.6rem; color: #555555;}
.content-right .board-view-header .info li+li::before{position: absolute; top:.55rem; left:0; width:1px; height:1.4rem; background:#b0b0b0; content:""}

.content-right .board-view__info{margin-top: 2rem;}
.content-right .board-view__info ul{margin: 0 -1rem;}
.content-right .board-view__info li{ position:relative; padding:0 1rem; font-size:1.6rem; color:#555555}
.content-right .board-view__info li+li::before{ position:absolute; top:.55rem; left:0; width:1px; height:1.4rem; background:#b0b0b0; content:"" }

.content-right .board-view-cont{padding-top:2.5rem; padding-bottom:4rem}
.content-right .board-view-txt, .content-right .board-view-txt *{ white-space: normal; font-size: 1.7rem; color:#555555;}
.content-right .board-view-file{display: block; height: auto; padding:1.8rem 2rem; }
.content-right .board-view-file a{ display: block; width:100%; font-size:1.6rem;color:#545454;margin-left:0rem;background:url(https://cleanair.kist.re.kr/resources/images/common/icon_file.png) no-repeat left center;padding-left:30px;float:left;}
.content-right .board-view-link{  -webkit-box-align: self-start;-ms-flex-align: self-start;align-items: self-start; height:auto; padding:1.8rem 2rem; border-top:1px solid #e4e4e4;}
.content-right .board-view-link p{flex:none; font-size:1.6rem; color:#545454;}
.content-right .board-view-link a{ display: inline-block; vertical-align: top; color:#2fc5ea; font-size:1.6rem;}

/* 보도자료 */
.content-right .tab-contents select{ width:14rem; height: 4.5rem; font-size: 1.6rem; border: 1px solid #ced4da;}
.content-right .tb-data{margin-top: 2rem;}
.content-right table{margin-top:0;}
.content-right .tb-data table colgroup .tit{width: auto;}
.content-right .tb-data table colgroup .part{width: 17%;}
.content-right .tb-data table colgroup .dep{width: 12%;}
.content-right .tb-data table colgroup .date{width:12%}
.content-right .tb-data table colgroup .link{width:9%}
.content-right .tb-data table colgroup .file{width:9%}
.content-right .tb-data table td{padding: 2rem 0rem; letter-spacing: -.5px; font-size:1.6rem; color:#555555;}
.content-right .tb-data table td.title a{color:#000000; font-size:1.6rem; text-align: left; vertical-align: middle;}
.content-right .tb-data table td.part p{ display: inline-block; width: 80%; overflow: hidden;   font-size: 17px; color: #333; text-overflow: ellipsis;  white-space: nowrap; font-size:1.6rem; vertical-align: middle;}
.content-right .tb-data table td.link a{width:2rem; height:2rem; background: url(../images/sub/icon-link.png)no-repeat; background-size: cover;}
.content-right .tb-data table td.file a{width:2rem; height:2rem; background: url(../images/sub/icon-file__blue.png)no-repeat; background-size: cover;}

.paging a{color:#686868}
.paging a.first{background: url(../images/common/icon-first.png)no-repeat center;}
.paging a.prev{background: url(../images/common/icon-prev.png)no-repeat center;}
.paging a.next{background: url(../images/common/icon-next.png)no-repeat center;}
.paging a.last{background: url(../images/common/icon-last.png)no-repeat center;}

.board-view-btn a{width: 8.8rem; height: 4.3rem; font-size: 1.6rem}

/* 연혁 */
.tab-title{ margin-bottom: 1rem; font-size: 2.4rem; font-weight:500}
.content-right .view-cont{font-size:1.7rem; color:#555555; line-height: 3rem;}
.content-right .history-box{padding:3.5rem 0;}
.content-right .history-box:nth-of-type(1){padding-top: 0;}
.content-right .history-box+.history-box{border-top:1px solid #e4e4e4;}
.content-right .history-box .view-cont{font-size:1.6rem; list-style: 2.4rem; color:#000000;}
.content-right .history-box .view-cont>div+div{margin-top: .5rem;}
.content-right .history-box .view-cont .font-weight__m{font-weight: 600; line-height: 2.8rem;}


.content_wrap.step2 .btnRightSwitch.mobile{display: none;}
.breadMobile, .timelineListMobile{display: none;}



/*======================================================================================
====================================== responsive ======================================
========================================================================================*/



@media screen and (min-width: 720px) {
  .tab-button-outer { display: block; }
  .tab-select-outer { display: none;  }
  .timelinePage{margin-bottom: -50px;}
}

@media all and (max-width: 1200px){
  .container.sub_content.timelinePage{padding:0 !important}

  .step2 .search{height:auto}
  .step2 .search>div{ flex-wrap: wrap; justify-content: flex-start;}
  .step2 .search .w-215{width:50%;}
  .step2 .search .w-145:nth-of-type(2){width:calc(50% - 1rem);}
  .step2 .search .w-145:nth-of-type(2) select{margin-left: 1rem;}
  .step2 .search .w-145:nth-of-type(3){flex:1; margin-top: 1rem;}
  .step2 .search select{width:100% !important;}
  .step2 .search .button-wrap{margin-left: 1rem; margin-top: 1rem;}

  .step2 #timeline{height: calc(100% - 20.9rem);}
}
@media all and (max-width: 768px){
  .timelinePage .search-bar{  display: flex;  align-content: flex-start;}
  .timelinePage .search-bar p{width:100%; text-align: left;}
  .timelinePage .search-bar .search{margin-top: 2rem;}

  /* .content-left .search>div{flex-wrap: wrap; margin: -.7rem !important;}
  .content-left .search>div>div{width:50%; margin: 0; padding:.7rem;}
  .content-left .search>div>div select{width:100%; }
  .content-left .search>div>div:nth-child(3){width: auto; flex:1;}
  .content-left .search>div>div.button-wrap{width:auto} */

  
}

@media all and (max-width: 720px){
  .content-left{padding:6rem 3rem 0 3rem;}
  
  .category__inner{margin-left: -.5rem; margin-right: -.5rem;}
  .category__inner >div{margin: 0 .5rem;}

  .timeline-list::before{left: 3.2rem;}
  .timeline-box .year>*{text-align: left;}
  .timeline-content>div{width:100%; padding-left: 10.25rem; padding-right:0;}
  .timeline-content>div .date, .timeline-content>div.dom .date{left: 0; right:auto;}
  .timeline-content>div.ovr::after{left: 10.05rem; right:auto;}
  .timeline-content>div.ovr::before{left: 0;}

  .timelinePage.sub_content .page-header{display: none;}

  .content_wrap.step2 .content-timeline{position:relative; flex-wrap: wrap; flex-direction: column; height:100%;}
  .content_wrap.step2 .btnRightSwitch{display: none;}
  .content_wrap.step2 .btnRightSwitch.mobile{ position:unset; top: 0; display: block; left:0; width:100%; height:8.8rem; transform: none; border-bottom:1px solid #afb5bf;}
  .content_wrap.step2 .btnRightSwitch.mobile button{display: flex; align-items: center; width:100%; height:100%; padding:0 3rem; border-radius: 0; font-size:2.4rem; color:#2c2e32; background: #d4d6da; box-shadow: none; }
  .content_wrap.step2 .btnRightSwitch.mobile button i{ display: block; width:1.1rem; height:1.6rem; margin-right:1.5rem; background:url(../images/sub/icon-arrow__left_.png)no-repeat center; background-size: cover; }

  .content-left.step2{width:0; height: 0; padding: 0; /* visibility: hidden; */ overflow: hidden;}
  .content_wrap.step2 .content-right{ width:100%; height:100%; margin-left: 0; padding:6rem 3rem 0 3rem; }

  .timeline__inner{height: 100%;}
  .timeline-button__bottom{display: none;}
  .timeline-list::after{left: 2.8rem;}
  

  /* board */
  .content-right .tb-data table, .content-right .tb-data table tbody{display: block; width:100%;}
  .content-right .tb-data table thead{display: none;}
  .content-right .tb-data tr:not(.no-data){display: flex; flex-wrap: wrap; padding:1.3rem 0 4rem 0; border-bottom:1px solid #e8e8e8;}
  .content-right .tb-data tr:not(.no-data) td{display: inline-block; border-bottom:none; padding:0;}
  .content-right .tb-data table tr:not(.no-data) td:nth-child(1){display: none;}
  .content-right .tb-data tr td.title{width:100%;}
  .content-right .tb-data tr td.title a{width:100%; padding:2.7rem 0; font-size:2.5rem;}
  .content-right .tb-data table td:nth-child(3){ position: relative; padding-right:2rem; font-size:2.2rem; color:#555555;}
  .content-right .tb-data table td:nth-child(3)::before{position:absolute; top:.9rem; right:0; width:1px; height:1.7rem; background: #e4e4e4; content:"";}
  .content-right .tb-data table td.part p{width:100%; font-size:2.2rem; color:#555555;}
  .content-right .tb-data table td:nth-child(4){padding:0 2rem; padding-right:1rem; font-size:2.2rem; color:#555555;}
  .content-right .tb-data table td.dep{ position: relative; padding-left:3rem; padding-right: 1rem;}
  .content-right .tb-data table td.dep::before{position:absolute; top:.9rem; left:1rem; width:1px; height:1.7rem; background: #e4e4e4; content:"";}
  .content-right .tb-data table td.dep p{font-size:2.2rem; color:#555555; display: flex; align-items: center; height: 100%;}
  .content-right .tb-data table td.link a, .content-right .tb-data table td.file a{ height:100%; margin:0 1rem; background-size: 2rem; background-position: center;}



  .content-right .tab-contents{height:100%;}
  .timelinePage{margin-bottom:0;}
  
  .breadMobile, .timelineListMobile{display: block;}
  .breadMobile ul{display: flex; margin:0 -1.85rem;}
  .breadMobile ul li{ position:relative; padding:0 1.85rem; font-size: 2.2rem;}
  .breadMobile ul li+li::before{position: absolute; top:50%; left: -.2rem; width:.5rem; height:1.1rem; background: url(../images/sub/icon-breadcrumb.png); background-size: cover; content: ""; transform: translateY(-50%);}

  .timelineListMobile{margin-top:2rem; margin-bottom:4rem;}
  .timelineListMobile select{ width:100%; height:7.3rem; padding-left:2rem; font-size:2.2rem; border:2px solid #cfcfcf; background:url(/resources/images/common/icon-arrow_bottom.png)no-repeat 97% center}

  .tit-wrap{flex-direction: column; align-items: flex-start !important;}
  .tit-wrap .tit{font-size: 3rem;}
  .tit-wrap .date{margin-top:2rem; margin-left:0; font-size: 2.2rem;}

  .tab-button-outer{overflow-y: scroll;}
  #tab-button{width: 700px;}

  .content-left .search>div{display: grid !important; grid-template-columns: 1fr auto;}
  .content-left .search .categoryDetail{ grid-row: 1/2; grid-column: 1/3; margin: 0 -.7rem;}
  .content-left .search .categoryDetail>div{width:50%; margin: .7rem;}
  .content-left .search .categoryAll{grid-row: 2/3; grid-column: 1/2;}
  .content-left .search .categoryAll{margin-top: .7rem;}
  .content-left .search .button-wrap{grid-row: 2/3; grid-column: 2/3; margin-top: 0.7rem;}
  /* .content-left .search>div>div.w-215{width:100%;} */
  .content-left .search>div>div select{width:100%;}

}


